/**
 * displayinfo.htm css
 * @author: Yupi Li
 */
#content {
    min-height: 500px;
    border-top: 1px solid #3127A2;
}

#content .atitle {
    font-size: 20px;
}

#content .article-header {
    border-bottom: 0.5px dashed #3127A2;
}

#content .article a, #content .article span, #content .article p {
    line-height: 1.6 !important;
    font-size: 16px;
    font-family: 微软雅黑 !important;
}
