/**
 * main/listcolumn/displayinfo.htm common css
 * @author: Yupi Li
 */
.wrapper {
    margin: 0 auto;
    width: 1102px;
}

#header {
    width: 100%;
    height: 120px;
    background: red;
	position: relative;
}

#logo {
    float: left;
    width: 280px;
    height: 100%;
    background: green;
}

#navbar {
    width: 100%;
    padding: 5px 0;
    /* padding-left: 25px; */
    background: yellow;
}

#search {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#aside {
    width: 20%;
}

#content {
    width: 78%;
    background: #ddd;
    padding: 15px 0;
}

#footer {
    width: 100%;
    height: 120px;
    text-align: center;
    background: pink;
}

#copyright {
    font-size: 14px;
}

#copyright>a:hover {
    color: grey;
}
